<!DOCTYPE html >
<html>
	<head>
		<meta charset='"UTF-8"' />
		<title> {% block title %} Bienvenidos {% endblock %}</title>
		
		<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/media/bootstrap/css/bootstrap-responsive.css">
		<script src="/media/js/jquery.js"></script> 
		<script src="/media/js/jquery.form.min.js"></script>
		<script src="/media/js/demo.js"></script>
		<script src="/media/bootstrap/js/bootstrap.js"></script>
		
		
		<style type="text/css "> 
			body{
				padding-top: 50px;
				padding-bottom: 40px;
				 height:100%;
				}
				.sidebar-nav{
					padding: 5px 0;
				}
						/* styles for layout */	
				html
				{
				    height:100%;
				}
				 
				#wrap
				{
				  min-height: 100%; 
				}
				 
				#main
				{
				    overflow:auto;
				    padding-bottom:150px; /* this needs to be bigger than footer height*/
				}
				.errorlist{
						color : red  ;
						position: relative;
						
						
				}
				
				 
				.footer
				{
				    position: relative;
				    margin-top: -150px; /* negative value of footer height  	    color:#fff;*/
				    height: 150px;
				    clear:both;
				    padding-top:20px;
				    color:#000;
			
				} 
				
				
		</style> 

		<!-- WebServices 
		<script type="text/javascript">
			$(document).on('ready',function(){
				$.ajax({
					type:"GET",
					ContentType:"Application/json;charset=utf-8",
					dateType:"json",
					url:"/ws/productos/",
					success:function(response){
						//console.log(response)
						var i=(response.length-1)-2;
						for(i;i<=(response.length-1);i++){
							$('#ProductosNuevos').append("<li>"+ response[i].fields.nombre+"</li>");
						}
						
					}
				});				
			});
				
			
		</script> -->
		
	</head>
<body>
	
<div class="container-fluid">
	
	
	<div class="navbar navbar-inverse navbar-fixed-top ">
		<div class="navbar-inner">
		
        <div class="container">
          	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>	
			
			<a class="brand" href="{% url vista_principal %}"> <i class="icon-large icon-signal icon-white"></i> Seminario </a>

          <div class="nav-collapse collapse">
			<ul class="nav ">
				{% if user.is_authenticated %}
					<!-- <li><a href=" #"> Administracion </a></li>
						<li><a href="
							 #"> Consultas </a></li>-->
							{% if user.is_staff %}
				<li class="dropdown">
					<a class="dropdown-toggle " data-toggle="dropdown" href="#"> {{user.groups.all.id }}Administracion <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<!-- links -->
						<li><a href="/listado-pacientes/page/1"> Pacientes </a></li>
						<li><a href="{% url vista_medicos %}"> Profesionales </a></li> 
						<li><a href="#"> Historias Clinicas </a></li>
						<li><a href="{% url vista_obrasociales %}"> Obra Sociales  </a></li>
						<li><a href="#"> Afiliaciones </a></li>  
					
					</ul>
				</li>
					
						
			
				<li class="dropdown">
					<a class="dropdown-toggle " data-toggle="dropdown" href="#">Medicos <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<!-- links -->
						<li><a href="#"> Turnos </a></li> 
						<li><a href="/listado-pacientes/page/1"> Pacientes </a></li>
						<li><a href="#"> Historias Clinicas </a></li> 
					
					</ul>
				</li>
				
				{%endif%}
					<li class="" ><a href=" /turnos/listado_especialidades/page/1"> Turnos </a></li>
			
			
				{% endif %}
				<li><a href="{% url vista_contacto %}"> Contacto </a></li>
				<li><a href="{% url vista_about %}"> Acerca de.. </a></li>
		
				
			</ul>
			<!-- Segunda Barra a la derecha-->
			<ul class="nav pull-right">
				{% if user.is_authenticated %}
				<li class="dropdown">
					<a class="dropdown-toggle " data-toggle="dropdown" href="#">	<img src="/media/{{ user.get_profile.photo }}"  width="25px" height="20px"/> Usuario {{user.username}} <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<!-- links -->
						<li><a href="{% url vista_editar_perfil %}"><i class="icon-cog"></i>  Perfil </a></li> 
						<li><a href="{% url vista_logout %}"> <i class="icon-off"></i>  Cerrar Session</a></li> 
					
					</  ul>											
				</li>
				{% else %}
					<li><a href="{% url vista_login %}"> <i class="icon-user"></i>Login </a></li>
				{% endif %}																																																																																																																																																																																																																	
			</ul>
				</div>
			</div>
		</div>
	</div> <!-- navbar -->
</div>		
<!--
	<div class="container-fluid" align="center">
		<div class="row-fluid"> -->
	
			
			
			
<!--			
      <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#dropdowns"><i class="icon-chevron-right"></i> Dropdowns</a></li>
          <li><a href="#buttonGroups"><i class="icon-chevron-right"></i> Button groups</a></li>
          <li><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> Button dropdowns</a></li>
          <li><a href="#navs"><i class="icon-chevron-right"></i> Navs</a></li>
          
        </ul>
      </div>
			
			
	-->		
		
		
	
			
			<!-- <div class="span10" align="center"> -->
				<div class="hero-unit span10" >
					{% block content %}
					{% endblock %}			
				</div>
			
			
			
<!--			</div>
		
		
	
	 	</div> <!--row -->
<!--</div><!--container-->	


<footer class="footer"  >
		<hr style='clear:both;'>  
	       <div align="center">
			
			<img src="/media/images/python-logo.gif" width="160px" height="100px" />	
			<img src="/media/images/django.gif" width="110px" height="100px" />
			    <p>  &copy; Catedra Seminario de Computacion 2013 - Fabio G Rodriguez</p>
			    
			</div>
</footer>
		
</body>
</html>

