{% extends "base.html" %}
{% block title%} Lista Recetas de  Medicamentos{% endblock %}

{% block content %}
<script type = "text/javascript">
	$(document).ready(function() {
       	$('table').filterTable({
       			autofocus: true,
     			filterSelector:'#input-filter',		
     	        }
       			
    }
 </script>
<div class="row-fluid">
<div class="span6">	
<h2> Recetas de Medicamentos :   </h2>
<!--
{% if user.is_authenticated and user.is_staff %}
	<a class="btn" href="{% url vista_os_agregar  %}" > <i class="icon-plus"></i> Agregar </a>
{% endif %}

-->
<!--
</div>
<div class="span6">
<form class="well form-search" action="." method="get">
	
	<div class="input-append pull-right">				
		<input type="hidden" class="input-large  search-query" placeholder="Buscar" name="query" value="si"/>
		
		
		{% csrf_token %}
		<button type="submit" class="btn"> Mis Practicas <i class="icon-search"></i></button>
	</div>
</form>
</div>
-->
</div>
<div class="span6">
<form class="well form-search" action="." method="get">
	
	<div class="input-append">				
		<input type="text" class="input-large  search-query" placeholder="Buscar Nro Prescripcion" name="query"/>
		{% csrf_token %}
		<button type="submit" class="btn"> <i class="icon-search"></i></button>
	</div>
</form>
</div>







</div>
{% if recetas %}

	<table class="table table-hover table-striped table-bordered">
		<thead>
			<tr>				
				<th> Fecha </th>
				<th> Nro </th>
				<th> Prestador </th>
				<th> Estado </th>
				<th> 
					{% if medico%}
					<a class="btn btn-mini btn-primary" href="{% url vista_receta_registrar  expediente %}" title="Agregar" > <i class="icon-plus icon-white"></i> </a>
					{%endif%}
					
     			</th>

			</tr>
		</thead>																																																																													
    	{%for receta in recetas %}
    	<tbody>
    		<tr>
    																										
    			<td> <a href="{% url vista_receta_detalle receta.id %}"> {{ receta.fecha }} </a></td>
    					<td> {{ receta.id }}</td>
    					<td> {{ receta.prestador }}</td>
    					<td> {{ receta.estado }}</td>
    			<td>
    			{%if user.is_authenticated and user.is_staff %}   
    						    			    			
    			
    		    	<a class="btn btn-mini" href="{% url vista_receta_editar receta.id %}" title="Editar" ><li class="icon-pencil "></li>  </a>
    		    	<a href="#myModal" role="button" class="btn btn-mini btn-danger delete" data-toggle="modal" id="{{ receta.id }}" data-name="{{ receta}}" title="Anular"> <li class="icon-trash icon-white"></li></a>    		      			
    			    		
    			{% endif%}
    			</td> 
    		
    		</tr>
    	</tbody>
	   
	    {%endfor%}
    </table>
    
    
    <a href="{%url vista_recetas expediente%}" class="btn btn-primary"> <i class="icon-chevron-left icon-white"></i>Regresar</a>
    

    
{% else %}
    	<div class="alert alert-error">
		<p> No se han cargado Recetas de  Medicamentos..
		
    		    <!--
    <a href="{%url vista_receta_registrar  expediente %}" class="btn btn-primary"> <i class="icon-file icon-white"></i> Cargar Receta</a>
    -->
			
			</p>
	</div>




    
    <a href="javascript:window.history.go(-1) " class="btn btn-primary"><i class="icon-chevron-left icon-white"></i> Regresar</a>

{% endif%}
<br /> 

<!-- Modal -->
<div  id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"> Confirmacion </h3>
	</div>
	<div class="modal-body">
		<p>Desea Anular  <span id="modal_name"></span> </p>
	</div>
	<div class="modal-footer">
		 <form id="frmEliminar"  method="POST" action="/recetas/delete/">
		{% csrf_token %}		
		<input type="hidden" id="modal_idtem" name="product_id">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
		<input class="btn btn-danger" type="submit" value="Anular" />
	</form>

	</div>
</div>
<!-- Fin Modal 
	action="{% url vista_os_delete obrasocial.cuit %}"
	-->

{% endblock %}

{% block informacion %}

					<h5>{{paciente.get_full_name }}</h5>
					<h5> Expediente Nro: {{ expediente }} </h5>
					<a href="/perfil/{{paciente.id}}"><img src="/media/{{paciente.get_profile.photo}}" class="img-polaroid" width="250px"/></a>
					
{% endblock %}

{% block sidebar1 %}


		<li><a href="{%url vista_pacientes %}" class="active"><i class="icon-chevron-right"></i> Pacientes</a></li>
		<li><a href="{%url vista_hce paciente.id%}"><i class="icon-chevron-right"></i> Historia Clinica</a></li>
		<li ><a href="{%url vista_afiliacion paciente.id%}"><i class="icon-chevron-right"></i> Afiliacion</a></li>
	
		
		<li ><a href="{%url vista_consultas expediente%}" class="active"><i class="icon-chevron-right"></i> Consultas</a></li>
	
		
		<li  ><a href="{%url vista_practicas expediente%}"><i class="icon-chevron-right"></i> Practicas</a></li>
		<li class="active" ><a href="{%url vista_recetas expediente%}"><i class="icon-chevron-right"></i> Recetas</a></li>
		
{% endblock %}