{% extends "base.html" %}
{% block title%} Afiliaciones {% endblock %}

{% block content %}
<div class="form-style">
<h2> Afiliacion :   </h2>
<hr />
{% if afiliacion %}

	<table class="table table-hover  table-striped table-bordered">
		<thead>
			<tr>
				<th> Descripcion  </th>
				
				<th> </th>
				
				 
			</tr>
		</thead>																																																																													
    	
    	<tbody>
    		<tr>
    			
    			<td> Afiliado</td>
    			<td> {{ afiliacion.afiliado.get_full_name }}</td>
    		<tr>								
    			<td> Obra Social</td>																	
    			<td>{{ afiliacion.obrasocial.nombre }}</td>
    		</tr>
    		<tr>
    			<td> Beneficiario</td>
    			<td>{{ afiliacion.beneficiario }}</td>
    		</tr>
    		<tr>
    			<td>Titular</td>
    			<td>{{ afiliacion.titular }}</td>
    		</tr> 		    				
    		<tr>
    			<td>Estado</td>
    			<td>{{ afiliacion.estado }}</td>
    		</tr>
    		
    		
    		
    	</tbody>
    	
    	
	   
	    
    </table>
    
    <hr />
        			<!-- Botonies con iconos-->    				    		
    			{%if user.is_authenticated and user.is_staff %}   
    						    			    			
    			<div class="pull-right">
    		    	<a class="btn btn-mini btn-info" href="{% url vista_afiliacion_update afiliacion.id%}" title="Editar"><li class="icon-pencil"></li>  </a>
    		    	<a href="#myModal" role="button" class="btn btn-mini btn-danger" data-toggle="modal" title="Deshabilitar"> <li class="icon-trash icon-white"></li></a>
    		    	<a class="btn btn-mini btn-success" href="/afiliacion/agregar/{{ afiliacion.afiliado.id}}" title="Agregar" > <i class="icon-plus"></i>  </a> 		
        								
    		    </div>			
    		
    			{% endif%} 
    			
    			</div>
    			<a href="{%url vista_afiliacion afiliacion.afiliado.id%} " class="btn btn-primary"><i class="icon-chevron-left icon-white"></i> Regresar a la lista</a>
    			
				
    
    
{% else %}
    <h2> No se han cargado Afiliacion a ObraSociales...</h2>
    <a href="javascript:window.history.go(-1) " class="btn btn-primary"> Regresar a la lista</a>
{% endif%}

<br /> 



<!-- Modal -->
<div  id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"> Confirmacion </h3>
	</div>
	<div class="modal-body">
		<p>Desea Deshabilitar  <b> {{ afiliacion }} </b> </p>
	</div>
	<div class="modal-footer">
		<form action="{% url vista_afiliacion_delete afiliacion.id %}" method="POST">
		{% csrf_token %}
		
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
		<input class="btn btn-danger" type="submit" value="Deshabilitar" />
	</form>

	</div>
</div>
<!-- Fin Modal -->

{% endblock %}


{% block sidebar1 %}


		<li> <a href="{%url vista_pacientes %}" class="active"><i class="icon-chevron-right"></i> Pacientes</a></li>
		<li><a href="{%url vista_hce afiliacion.afiliado.id%}"><i class="icon-chevron-right"></i> Historia Clinica</a></li>
	{%if historia_clinica %}
		
		{%if consultas%}
		<li><a href="{%url vista_consultas historia_clinica.id%}" class="active"><i class="icon-chevron-right"></i> Consultas</a></li>
	
		
		{%endif%}
	<li><a href="{%url vista_consulta_agregar historia_clinica.id%}" class="active"><i class="icon-chevron-right"></i> Nueva Consulta</a></li>
	{%endif%}
		<li class="active"><a href="{%url vista_afiliacion afiliacion.afiliado.id%}"><i class="icon-chevron-right"></i> Afiliacion</a></li>
					
{% endblock %}


{% block informacion %}

					<h5>{{ afiliacion.afiliado.get_full_name }}</h5>
					<h5> Expediente Nro: {{ historia_clinica.id }} </h5>
					
					<a href="/perfil/{{afiliacion.afiliado.id}}" title="Perfil"><img src="/media/{{afiliacion.afiliado.get_profile.photo}}" class="img-polaroid" width="250px"/></a>
					
{% endblock %}

