{% extends "base.html" %}
{% block title%} Agregar Fecha {% endblock %}
{% block content%}
<!-- contexto form informaicon-->
<meta charset="utf-8" />
		
		 <link rel="stylesheet" href="/media/css/jquery-ui.css" />
		<script src="/media/js/jquery-ui.js"></script>
		<script src="/media/js/jquery.ui.datepicker-es.js"></script>



<script type="text/javascript">
	$(function(){
	
		$.datepicker.setDefaults($.datepicker.regional["es"]);
		$( "#datepicker" ).datepicker({
			
			dateFormat: "DD yy-mm-dd",
		  	numberOfMonths: 2,
		  	firstDay: 1,
		  	minDate : new Date,
		  	monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
						'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
							'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		  	dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
			dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
			dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],			
			autoSize : true,
			showOn: "button",
			buttonImage: "/media/images/calendar.gif",
			buttonImageOnly: true,
			beforeShowDay : function(date){
				var dia =  date.getDay();
				
				
				
				if (dia!=0){ return [true , ""]}
				else { return [false ,""]}
			}
		
	

		  }  
		);
		$( "#datepicker" ).datepicker("setDate" ,new Date);
	
		
	});
</script>

<ul class="breadcrumb">


	<li><a href="/turnos/listado_especialidades/page/1">Especialidades </a>  <span class="divider">/</span> </li>
	<li> <a href="/turnos/listado/{{ prestador.especialidad.id }}/page/1">{{prestador.especialidad}}</a><span class="divider">/</span></li>
	<li ><a href="{%url vista_agenda prestador.id %}">{{prestador.medico}} : Agenda </a><span class="divider">/</span></li>
	<li class="active">Atencion</li>
	
</ul>






		<form action="." method="POST" enctype="multipart/form-data">
			<h2>Agregar Dia de Atencion <small> <div id="fecha" style="display: none"> {{dia}} </div></small>	 </h2>
			{% csrf_token %}
			
			<table class="table table-hover table-bordered">
			<tr >
				<td>Fecha :</td>  <td> <input  type ="text" name="dp_fecha" id="datepicker" value="{{fecha}}"/></td>
			</tr>

		
				
			
			
			{{form.as_table}}
			</table>
			<input class="btn " type="submit" value="Grabar" />
			<input class="btn" type="reset" value="Limpiar"/>
			
			
		</form>
		<br>
		
		<br />
		<a href="javascript:window.history.go(-1) " class="btn btn-primary"> Regresar a la lista</a>
	
	
{% endblock %}

{% block sidebar1 %}
	
	<li class="active" ><a href="/turnos/listado_especialidades/page/1"> <i class="icon-chevron-right"></i> Solicitar Turnos</a></li>
	<li ><a href="{% url vista_turnos_reservas %} "><i class="icon-chevron-right"></i> Consultar Turnos</a></li>
	
					
					
{% endblock %}


{% block informacion %}
					<a href="/perfil/ {{prestador.medico.user.id}}"><img src="/media/{{ prestador.medico.user.get_profile.photo}}" width="250px" class="img-polaroid"/></a>
					
					<h4>{{ prestador.medico.user.get_full_name }}</h4>
					<h5> Matricula : <small>{{ prestador.medico.matricula }}</small></h5>
					<h5><small> {{ prestador.especialidad}}</small></h5>
					
					
					
{% endblock %}

