{% extends "base.html" %}
{% block title%} Especialidades  {% endblock %}


{% block content %}
<h2> Especialidad :   </h2>
<hr />
{% if especialidad %}
	<table class="table table-hover  table-striped table-bordered">
		<thead>
			<tr>
				<th> Descripcion  </th>
				
				<th> </th>
				
				 
			</tr>
		</thead>																																																																													
    	
    	<tbody>
    		<tr>
    			
    			<td> Codigo</td>
    			<td> {{ especialidad.id }}</td>
    		<tr>								
    			<td> Nombre</td>																	
    			<td>{{ especialidad.nombre }}</td>
    		</tr>
    		
    		
    		
    	</tbody>
    	
    		   	 
    </table>
        			<!-- Botonies con iconos-->    				    		
    			{%if user.is_authenticated and user.is_staff %}   
    						    			    			
    			<div class="pull-right">
    		    	<a class="btn btn-mini btn-info" href="{%url vista_especialidad_update especialidad.id%}" title="Editar"><li class="icon-pencil"></li>  </a>
    		    	<a href="#myModal" role="button" class="btn btn-mini btn-danger" data-toggle="modal" title="Eliminar"> <li class="icon-trash icon-white"></li></a>
    		    	<a class="btn btn-mini btn-success" href="{% url vista_especialidad_agregar  %}" title="Agregar" > <i class="icon-plus"></i>  </a> 		
        								
    		    </div>			
    		
    			{% endif%} 
    			<a href="{%url vista_especialidades%} " class="btn btn-primary"><i class="icon-chevron-left icon-white"></i> Regresar a la lista</a>
    			
				
    
    
{% else %}
    <h2> No se han cargado las Especialidades...</h2>
    <a href="javascript:window.history.go(-1) " class="btn btn-primary"> Regresar a la lista</a>
{% endif%}

<br /> 



<!-- Modal -->
<div  id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"> Confirmacion </h3>
	</div>
	<div class="modal-body">
		<p>Desea eliminar  <b> {{ especialidad.nombre }} </b> </p>
	</div>
	<div class="modal-footer">
		<form action="{% url vista_especialidad_delete especialidad.id %}" method="POST">
		{% csrf_token %}
		
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
		<input class="btn btn-danger" type="submit" value="Eliminar" />
	</form>

	</div>
</div>
<!-- Fin Modal -->

{% endblock %}
{% block sidebar1 %}

	<li><a href="{%url vista_medicos %}"><i class="icon-chevron-right"></i> Profesionales</a></li>
	<li class="active"><a href="{%url vista_especialidades %}"><i class="icon-chevron-right"></i> Especialidades</a></li>


					
					
{% endblock %}

